<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--    로그를 남길 파일 경로-->
    <property name="LOG_DIR" value="./"/>
    <property name="LOG_FILE_NAME" value="mylog"/>

    <!--    콘솔에 남길 로그 포맷 설정-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta(%-4relative) --- [ %thread{10} ]
                %cyan(%logger{20}) : %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--    파일로 남길 로그 설정-->

    <!--    RollingFileAppender 라는 클래스를 써서 로그를 남길 꺼임-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--            로그 파일 이름 포맷팅-->
            <fileNamePattern>${LOG_DIR}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file's size will be max 10MB (파일 사이즈는 최대 10MB까지만 저장)-->
            <maxFileSize>10MB</maxFileSize>
            <!-- 30 days to keep (30일동안 보관)-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--    springframwork의 info 레벨부터 로그로 남긴다는 것 (INFO, WARN, ERROR 까지 남긴다는 것, DEBUG레벨은 찍지 않음) -->
    <logger name="org.springframework" level="info"/>
    <logger name="org.hibernate" level="info"/>
    <!--    프로젝트 루트로부터는 info레벨에서 콘솔과 파일에 로그를 남긴다는 뜻-->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>